<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <title>My Website</title>
  </head>
  <body>
    <h1>Welcome To BikhtSAr</h1>
    <div>
      <p>Using BikhtSAr You Can Save Time!<br>
        BikhtSAr is an innovative app designed to transcribe audio and summarize its content, making it easier for users to consume information from audio sources. This app utilizes advanced speech recognition and natural language processing algorithms to accurately transcribe audio files, and then it intelligently extracts the key insights to create concise summaries. 
      
        The app works well with various audio formats, such as podcasts, interviews, and lectures, allowing users to save time and focus on the most important information. Additionally, BikhtSAr provides a user-friendly interface, making it simple for users to upload audio files and access the transcriptions and summaries. 
      
        In summary, BikhtSAr is a powerful tool that streamlines the process of transcribing audio and summarizing its content, assisting users in learning and retaining information more efficiently.</p>
    </div>
    <pr>If Your lecture is in english press <a href="/en">here</a></pr><br>
    <pr>If Your lecture is in arabic press <a href="/ar">here</a></pr>
  </body>
</html>
