<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}" >
        <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
        <title>Signup to BikhtSAr | create an account in BikhtSAr</title>
      </head>
      <body>
        <div class="container mt-5">
            <h2>Sign Up</h2>
            <form id="signup-form">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
              </div>
              <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" name="confirm-password" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>          
      </body>
</html>